In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re

In [2]:
page=requests.get("https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page=2")
page1=BeautifulSoup(page.text)

p9=page1.find_all("a",class_="projName")
building_Name=[]
for i in p9:
    building_Name.append(i.text)
    
    
p=page1.find_all("div",class_="seller-info")
Constructed_by=[]
for i in p:
    Constructed_by.append(i.text)
    
    
p1=page1.find_all("a",class_="loclink")
Location=[]
for i in p1:
    Location.append(i.text)
    
    
p2=page1.find_all("td",class_="lbl rate")
Prices_per_sqft=[]
for i in p2:
    a=i.text
    Prices_per_sqft.append(re.findall(r"(\d+\W\d+)",a)[0])
    
    
p3=page1.find_all("td",class_="price")
Price=[]
for i in p3:
    Price.append(i.text)
    
    
p4=page1.find_all("td",class_="size")
Area_sq_ft=[]
for i in p4:
    Area_sq_ft.append(i.text)
    
    
p5=page1.find_all("td",class_="val")
Building_Status=[]
for i in p5:
    Building_Status.append(i.text)
    
    
p6=page1.find_all("li",class_="keypoint")
Possession_on=[]
for i in p6:
    a=i.text
    b=re.findall(r"\w+\s\w+(\s\w+\s\d+)",a)
    if len(b)>0:
        Possession_on.append(b[0])
        
        
p7=page1.find_all("div",class_="title-line-wrap")
House_size=[]
for i in p7:
    a=i.text
    b=re.findall(r"\d+\s\w+",a)
    if len(b)>0:
        House_size.append(b[0])
    else:
        House_size.append(np.nan)
        
        
p8=page1.find_all("div",class_="title-line")
Building_type=[]
for i in p8:
    a=i.text
    Building_type.append(re.findall(r"\w+",a)[2])

In [3]:
d={"Building_Name":building_Name,
   "Building_type":Building_type,
   "Constructed_by":Constructed_by,
   "Price":Price,
   "Location":Location,
   "Area_sq_ft":Area_sq_ft,
   "House_size":House_size,
   "Prices_per_sqft":Prices_per_sqft,
   "Building_Status":Building_Status,
   "Possession_on":Possession_on}

In [4]:
len(Possession_on)

19

In [47]:
url="""https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page=2"""
building_Name=[]
Constructed_by=[]
Location=[]
Prices_per_sqft=[]
Price_in_cr=[]
Area_sq_ft=[]
Building_Status=[]
#Possession_on=[]
House_size=[]
Building_type=[]


for i in range(1,22):
    urls=url+str(url)
    page1=BeautifulSoup(page.text)

    p9=page1.find_all("a",class_="projName")
    #building_Name=[]
    for i in p9:
        building_Name.append(i.text)
    
    
    p=page1.find_all("div",class_="seller-info")
    #Constructed_by=[]
    for i in p:Constructed_by.append(i.text)
    
    
    p1=page1.find_all("a",class_="loclink")
    #Location=[]
    for i in p1:
        Location.append(i.text)
    
    
    p2=page1.find_all("td",class_="lbl rate")
    #Prices_per_sqft=[]
    for i in p2:
        a=i.text
        Prices_per_sqft.append(re.findall(r"(\d+\W\d+)",a)[0])
    
    p3=page1.find_all("td",class_="price")
   # Price=[]
     
    for i in p3:
        a=i.text
        b=re.findall(r"\d\W\d+",a)
        Price_in_cr.append(b[0])
    
     
    
    p4=page1.find_all("td",class_="size")
    #Area_sq_ft=[]
    for i in p4:
        Area_sq_ft.append(i.text)
    
    
    p5=page1.find_all("td",class_="val")
    #Building_Status=[]
    for i in p5:
        Building_Status.append(i.text)
    
    
    #p6=page1.find_all("li",class_="keypoint")
    #Possession_on=[]
    #for i in p6:
        #a=i.text
        #b=re.findall(r"\w+\s\w+(\s\w+\s\d+)",a)
        #if len(b)>0:
            #Possession_on.append(b[0])
        #else:
            #Possession_on.append(np.nan)
    
        
        
    p7=page1.find_all("div",class_="title-line-wrap")
    #House_size=[]
    for i in p7:
        a=i.text
        b=re.findall(r"\d+",a)
        if len(b)>0:
            House_size.append(b[0])
        else:
            House_size.append(np.nan)
        
        
    p8=page1.find_all("div",class_="title-line")
    #Building_type=[]
    for i in p8:
        a=i.text
        Building_type.append(re.findall(r"\w+",a)[2])

In [48]:
Final_df=pd.DataFrame({"Building_Name":building_Name,
   "Building_type":Building_type,
   "Constructed_by":Constructed_by,
   "Price_in_cr":Price_in_cr,
   "Location":Location,
   "Area_sq_ft":Area_sq_ft,
   "House_size":House_size,
   "Prices_per_sqft":Prices_per_sqft,
   "Building_Status":Building_Status})

In [67]:
Final_df

,Building_Name,Building_type,Constructed_by,Price_in_cr,Location,Area_sq_ft,House_size,Prices_per_sqft,Building_Status
0,Vajra The Royal Park,Apartment,Vajra Builders And DevelopersBUILDER0,4.47,"Bowrampet, Hyderabad",1535,3,4200,Under Construction
1,Vasavi Signature,Apartment,Vasavi GroupBUILDER0,1.82,"Kukatpally, Hyderabad",2285,3,8000,Ready to move
2,Riddhi Pramukh Elegance,Apartment,Riddhi GroupBUILDER0,7.58,"Jeedimetla, Hyderabad",1510,3,5800,Under Construction
3,Theme Imperial,Apartment,Theme Ambience InfrastructuresBUILDER0,1.80,"Attapur, Hyderabad",2655,4,6800,Under Construction
4,Signature Altius,Apartment,Signature AvenuesBUILDER0,1.21,"Kollur, Hyderabad",2425,3,4999,Under Construction
...,...,...,...,...,...,...,...,...,...
415,GHR Callisto,Apartment,GHR InfraBUILDER0,2.12,"Kollur, Hyderabad",1195,2,5199,Under Construction
416,Dinesh Auric,Apartment,Dinesh ProjectsBUILDER0,9.86,"Bachupally, Hyderabad",1039,2,4804,Under Construction
417,Namishree BPS Twin Towers,Apartment,Namishree Infrastructure And Project Pvt LtdBU...,1.02,"Saidabad, Hyderabad",1705,3,6000,Under Construction
418,Om Sree Gallaxy,Apartment,Om Sree Builders And DevelopersBUILDER0,8.41,"Gundlapochampally, Hyderabad",1285,2,6102,Under Construction
419,Vazhraa Vazhraa Prathik,Apartment,Vazhraa Nirmaan Pvt LtdBUILDER0,1.21,"Nizampet, Hyderabad",1870,3,6500,Under Construction

In [52]:
len(building_Name)

420

In [53]:
Final_df.to_csv("Final_result.csv")

In [70]:
import os
os.getcwd()

'C:\\Users\\hp'

In [73]:
h=pd.read_csv(r"C:\Users\hp\Desktop\web_proj\Final_result.csv")
h

,Unnamed: 0,Building_Name,Building_type,Constructed_by,Price_in_cr,Location,Area_sq_ft,House_size,Prices_per_sqft,Building_Status
0,0,Vajra The Royal Park,Apartment,Vajra Builders And DevelopersBUILDER0,4.47,"Bowrampet, Hyderabad",1535,3,"4,200",Under Construction
1,1,Vasavi Signature,Apartment,Vasavi GroupBUILDER0,1.82,"Kukatpally, Hyderabad",2285,3,"8,000",Ready to move
2,2,Riddhi Pramukh Elegance,Apartment,Riddhi GroupBUILDER0,7.58,"Jeedimetla, Hyderabad",1510,3,"5,800",Under Construction
3,3,Theme Imperial,Apartment,Theme Ambience InfrastructuresBUILDER0,1.80,"Attapur, Hyderabad",2655,4,"6,800",Under Construction
4,4,Signature Altius,Apartment,Signature AvenuesBUILDER0,1.21,"Kollur, Hyderabad",2425,3,"4,999",Under Construction
...,...,...,...,...,...,...,...,...,...,...
415,415,GHR Callisto,Apartment,GHR InfraBUILDER0,2.12,"Kollur, Hyderabad",1195,2,"5,199",Under Construction
416,416,Dinesh Auric,Apartment,Dinesh ProjectsBUILDER0,9.86,"Bachupally, Hyderabad",1039,2,"4,804",Under Construction
417,417,Namishree BPS Twin Towers,Apartment,Namishree Infrastructure And Project Pvt LtdBU...,1.02,"Saidabad, Hyderabad",1705,3,"6,000",Under Construction
418,418,Om Sree Gallaxy,Apartment,Om Sree Builders And DevelopersBUILDER0,8.41,"Gundlapochampally, Hyderabad",1285,2,"6,102",Under Construction
419,419,Vazhraa Vazhraa Prathik,Apartment,Vazhraa Nirmaan Pvt LtdBUILDER0,1.21,"Nizampet, Hyderabad",1870,3,"6,500",Under Construction

In [35]:
Final_df=pd.read_csv("Final_result.csv")

In [36]:
Final_df

,Unnamed: 0,Building_Name,Building_type,Constructed_by,Price_in_cr,Location,Area_sq_ft,House_size,Prices_per_sqft,Building_Status
0,0,Vajra The Royal Park,Apartment,Vajra Builders And DevelopersBUILDER0,4.47,"Bowrampet, Hyderabad",1535,3,"4,200",Under Construction
1,1,Vasavi Signature,Apartment,Vasavi GroupBUILDER0,1.82,"Kukatpally, Hyderabad",2285,3,"8,000",Ready to move
2,2,Riddhi Pramukh Elegance,Apartment,Riddhi GroupBUILDER0,7.58,"Jeedimetla, Hyderabad",1510,3,"5,800",Under Construction
3,3,Theme Imperial,Apartment,Theme Ambience InfrastructuresBUILDER0,1.80,"Attapur, Hyderabad",2655,4,"6,800",Under Construction
4,4,Signature Altius,Apartment,Signature AvenuesBUILDER0,1.21,"Kollur, Hyderabad",2425,3,"4,999",Under Construction
...,...,...,...,...,...,...,...,...,...,...
415,415,GHR Callisto,Apartment,GHR InfraBUILDER0,2.12,"Kollur, Hyderabad",1195,2,"5,199",Under Construction
416,416,Dinesh Auric,Apartment,Dinesh ProjectsBUILDER0,9.86,"Bachupally, Hyderabad",1039,2,"4,804",Under Construction
417,417,Namishree BPS Twin Towers,Apartment,Namishree Infrastructure And Project Pvt LtdBU...,1.02,"Saidabad, Hyderabad",1705,3,"6,000",Under Construction
418,418,Om Sree Gallaxy,Apartment,Om Sree Builders And DevelopersBUILDER0,8.41,"Gundlapochampally, Hyderabad",1285,2,"6,102",Under Construction
419,419,Vazhraa Vazhraa Prathik,Apartment,Vazhraa Nirmaan Pvt LtdBUILDER0,1.21,"Nizampet, Hyderabad",1870,3,"6,500",Under Construction

In [37]:
Final_df.drop(["Unnamed: 0"],inplace=True,axis=1)

In [39]:
Final_df

,Building_Name,Building_type,Constructed_by,Price_in_cr,Location,Area_sq_ft,House_size,Prices_per_sqft,Building_Status
0,Vajra The Royal Park,Apartment,Vajra Builders And DevelopersBUILDER0,4.47,"Bowrampet, Hyderabad",1535,3,"4,200",Under Construction
1,Vasavi Signature,Apartment,Vasavi GroupBUILDER0,1.82,"Kukatpally, Hyderabad",2285,3,"8,000",Ready to move
2,Riddhi Pramukh Elegance,Apartment,Riddhi GroupBUILDER0,7.58,"Jeedimetla, Hyderabad",1510,3,"5,800",Under Construction
3,Theme Imperial,Apartment,Theme Ambience InfrastructuresBUILDER0,1.80,"Attapur, Hyderabad",2655,4,"6,800",Under Construction
4,Signature Altius,Apartment,Signature AvenuesBUILDER0,1.21,"Kollur, Hyderabad",2425,3,"4,999",Under Construction
...,...,...,...,...,...,...,...,...,...
415,GHR Callisto,Apartment,GHR InfraBUILDER0,2.12,"Kollur, Hyderabad",1195,2,"5,199",Under Construction
416,Dinesh Auric,Apartment,Dinesh ProjectsBUILDER0,9.86,"Bachupally, Hyderabad",1039,2,"4,804",Under Construction
417,Namishree BPS Twin Towers,Apartment,Namishree Infrastructure And Project Pvt LtdBU...,1.02,"Saidabad, Hyderabad",1705,3,"6,000",Under Construction
418,Om Sree Gallaxy,Apartment,Om Sree Builders And DevelopersBUILDER0,8.41,"Gundlapochampally, Hyderabad",1285,2,"6,102",Under Construction
419,Vazhraa Vazhraa Prathik,Apartment,Vazhraa Nirmaan Pvt LtdBUILDER0,1.21,"Nizampet, Hyderabad",1870,3,"6,500",Under Construction

In [42]:
#for convert the value 8,000 to 8000 (replace the camma(,))
p=[]
for i in Final_df["Prices_per_sqft"]:
    p.append(i.replace(",",""))

In [44]:
Final_df["Prices_per_sqft"]=p

In [45]:
Final_df

,Building_Name,Building_type,Constructed_by,Price_in_cr,Location,Area_sq_ft,House_size,Prices_per_sqft,Building_Status
0,Vajra The Royal Park,Apartment,Vajra Builders And DevelopersBUILDER0,4.47,"Bowrampet, Hyderabad",1535,3,4200,Under Construction
1,Vasavi Signature,Apartment,Vasavi GroupBUILDER0,1.82,"Kukatpally, Hyderabad",2285,3,8000,Ready to move
2,Riddhi Pramukh Elegance,Apartment,Riddhi GroupBUILDER0,7.58,"Jeedimetla, Hyderabad",1510,3,5800,Under Construction
3,Theme Imperial,Apartment,Theme Ambience InfrastructuresBUILDER0,1.80,"Attapur, Hyderabad",2655,4,6800,Under Construction
4,Signature Altius,Apartment,Signature AvenuesBUILDER0,1.21,"Kollur, Hyderabad",2425,3,4999,Under Construction
...,...,...,...,...,...,...,...,...,...
415,GHR Callisto,Apartment,GHR InfraBUILDER0,2.12,"Kollur, Hyderabad",1195,2,5199,Under Construction
416,Dinesh Auric,Apartment,Dinesh ProjectsBUILDER0,9.86,"Bachupally, Hyderabad",1039,2,4804,Under Construction
417,Namishree BPS Twin Towers,Apartment,Namishree Infrastructure And Project Pvt LtdBU...,1.02,"Saidabad, Hyderabad",1705,3,6000,Under Construction
418,Om Sree Gallaxy,Apartment,Om Sree Builders And DevelopersBUILDER0,8.41,"Gundlapochampally, Hyderabad",1285,2,6102,Under Construction
419,Vazhraa Vazhraa Prathik,Apartment,Vazhraa Nirmaan Pvt LtdBUILDER0,1.21,"Nizampet, Hyderabad",1870,3,6500,Under Construction

## Data cleaning

In [46]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Building_Name    420 non-null    object
 1   Building_type    420 non-null    object
 2   Constructed_by   420 non-null    object
 3   Price_in_cr      420 non-null    float64
 4   Location         420 non-null    object
 5   Area_sq_ft       420 non-null    int64
 6   House_size       420 non-null    int64
 7   Prices_per_sqft  420 non-null    object
 8   Building_Status  420 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 29.7+ KB

In [55]:
Final_df.isnull().sum()

Building_Name      0
Building_type      0
Constructed_by     0
Price_in_cr        0
Location           0
Area_sq_ft         0
House_size         0
Prices_per_sqft    0
Building_Status    0
dtype: int64

In [56]:
# filling the missing values
Final_df.fillna(method="ffill",inplace=True)

In [57]:
Final_df.isnull().sum()

Building_Name      0
Building_type      0
Constructed_by     0
Price_in_cr        0
Location           0
Area_sq_ft         0
House_size         0
Prices_per_sqft    0
Building_Status    0
dtype: int64

In [58]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Building_Name    420 non-null    object
 1   Building_type    420 non-null    object
 2   Constructed_by   420 non-null    object
 3   Price_in_cr      420 non-null    object
 4   Location         420 non-null    object
 5   Area_sq_ft       420 non-null    object
 6   House_size       420 non-null    object
 7   Prices_per_sqft  420 non-null    object
 8   Building_Status  420 non-null    object
dtypes: object(9)
memory usage: 29.7+ KB

### Type casting

In [13]:
Final_df["House_size"]=Final_df["House_size"].astype("int")
Final_df["Area_sq_ft"]=Final_df["Area_sq_ft"].astype("int")
Final_df["Prices_per_sqft"]=Final_df["Prices_per_sqft"].astype("int")

In [ ]:
Final_df["Price_in_cr"]=Final_df["Price_in_cr"].astype("float")
Final_df["Prices_per_sqft"]=Final_df["Prices_per_sqft"].astype("int")

In [14]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       420 non-null    int64
 1   Building_Name    420 non-null    object
 2   Building_type    420 non-null    object
 3   Constructed_by   420 non-null    object
 4   Price_in_cr      420 non-null    float64
 5   Location         420 non-null    object
 6   Area_sq_ft       420 non-null    int32
 7   House_size       420 non-null    int32
 8   Prices_per_sqft  420 non-null    int32
 9   Building_Status  420 non-null    object
dtypes: float64(1), int32(3), int64(1), object(5)
memory usage: 28.0+ KB

In [69]:
Final_df.head(2)

,Building_Name,Building_type,Constructed_by,Price_in_cr,Location,Area_sq_ft,House_size,Prices_per_sqft,Building_Status
0,Vajra The Royal Park,Apartment,Vajra Builders And DevelopersBUILDER0,4.47,"Bowrampet, Hyderabad",1535,3,4200,Under Construction
1,Vasavi Signature,Apartment,Vasavi GroupBUILDER0,1.82,"Kukatpally, Hyderabad",2285,3,8000,Ready to move

### Analyzing the Features

In [47]:
data=pd.read_csv("Final_result.csv")

In [48]:
data

,Unnamed: 0,Building_Name,Building_type,Constructed_by,Price_in_cr,Location,Area_sq_ft,House_size,Prices_per_sqft,Building_Status
0,0,Vajra The Royal Park,Apartment,Vajra Builders And DevelopersBUILDER0,4.47,"Bowrampet, Hyderabad",1535,3,"4,200",Under Construction
1,1,Vasavi Signature,Apartment,Vasavi GroupBUILDER0,1.82,"Kukatpally, Hyderabad",2285,3,"8,000",Ready to move
2,2,Riddhi Pramukh Elegance,Apartment,Riddhi GroupBUILDER0,7.58,"Jeedimetla, Hyderabad",1510,3,"5,800",Under Construction
3,3,Theme Imperial,Apartment,Theme Ambience InfrastructuresBUILDER0,1.80,"Attapur, Hyderabad",2655,4,"6,800",Under Construction
4,4,Signature Altius,Apartment,Signature AvenuesBUILDER0,1.21,"Kollur, Hyderabad",2425,3,"4,999",Under Construction
...,...,...,...,...,...,...,...,...,...,...
415,415,GHR Callisto,Apartment,GHR InfraBUILDER0,2.12,"Kollur, Hyderabad",1195,2,"5,199",Under Construction
416,416,Dinesh Auric,Apartment,Dinesh ProjectsBUILDER0,9.86,"Bachupally, Hyderabad",1039,2,"4,804",Under Construction
417,417,Namishree BPS Twin Towers,Apartment,Namishree Infrastructure And Project Pvt LtdBU...,1.02,"Saidabad, Hyderabad",1705,3,"6,000",Under Construction
418,418,Om Sree Gallaxy,Apartment,Om Sree Builders And DevelopersBUILDER0,8.41,"Gundlapochampally, Hyderabad",1285,2,"6,102",Under Construction
419,419,Vazhraa Vazhraa Prathik,Apartment,Vazhraa Nirmaan Pvt LtdBUILDER0,1.21,"Nizampet, Hyderabad",1870,3,"6,500",Under Construction

In [49]:
data.drop(["Unnamed: 0"],inplace=True,axis=1)

In [50]:
data

,Building_Name,Building_type,Constructed_by,Price_in_cr,Location,Area_sq_ft,House_size,Prices_per_sqft,Building_Status
0,Vajra The Royal Park,Apartment,Vajra Builders And DevelopersBUILDER0,4.47,"Bowrampet, Hyderabad",1535,3,"4,200",Under Construction
1,Vasavi Signature,Apartment,Vasavi GroupBUILDER0,1.82,"Kukatpally, Hyderabad",2285,3,"8,000",Ready to move
2,Riddhi Pramukh Elegance,Apartment,Riddhi GroupBUILDER0,7.58,"Jeedimetla, Hyderabad",1510,3,"5,800",Under Construction
3,Theme Imperial,Apartment,Theme Ambience InfrastructuresBUILDER0,1.80,"Attapur, Hyderabad",2655,4,"6,800",Under Construction
4,Signature Altius,Apartment,Signature AvenuesBUILDER0,1.21,"Kollur, Hyderabad",2425,3,"4,999",Under Construction
...,...,...,...,...,...,...,...,...,...
415,GHR Callisto,Apartment,GHR InfraBUILDER0,2.12,"Kollur, Hyderabad",1195,2,"5,199",Under Construction
416,Dinesh Auric,Apartment,Dinesh ProjectsBUILDER0,9.86,"Bachupally, Hyderabad",1039,2,"4,804",Under Construction
417,Namishree BPS Twin Towers,Apartment,Namishree Infrastructure And Project Pvt LtdBU...,1.02,"Saidabad, Hyderabad",1705,3,"6,000",Under Construction
418,Om Sree Gallaxy,Apartment,Om Sree Builders And DevelopersBUILDER0,8.41,"Gundlapochampally, Hyderabad",1285,2,"6,102",Under Construction
419,Vazhraa Vazhraa Prathik,Apartment,Vazhraa Nirmaan Pvt LtdBUILDER0,1.21,"Nizampet, Hyderabad",1870,3,"6,500",Under Construction

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Building_Name    420 non-null    object
 1   Building_type    420 non-null    object
 2   Constructed_by   420 non-null    object
 3   Price_in_cr      420 non-null    float64
 4   Location         420 non-null    object
 5   Area_sq_ft       420 non-null    int64
 6   House_size       420 non-null    int64
 7   Prices_per_sqft  420 non-null    object
 8   Building_Status  420 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 29.7+ KB

In [19]:
# for numerical data
data.describe()

       Price_in_cr   Area_sq_ft  House_size
count   420.000000   420.000000  420.000000
mean      3.805000  2134.950000    2.850000
std       3.234803  1649.930284    0.727158
min       1.020000  1039.000000    2.000000
25%       1.210000  1408.750000    2.000000
50%       1.970000  1787.500000    3.000000
75%       5.397500  2287.250000    3.000000
max       9.980000  9000.000000    5.000000

In [21]:
# for catagorical data
data.describe(include="object")

,Building_Name,Building_type,Constructed_by,Location,Prices_per_sqft,Building_Status
count,420,420,420,420,420,420
unique,20,2,20,16,18,2
top,Vajra The Royal Park,Apartment,Vajra Builders And DevelopersBUILDER0,"Kollur, Hyderabad","4,999",Under Construction
freq,21,399,21,63,42,399

In [23]:
data.describe(include="all")

,Building_Name,Building_type,Constructed_by,Price_in_cr,Location,Area_sq_ft,House_size,Prices_per_sqft,Building_Status
count,420,420,420,420.000000,420,420.000000,420.000000,420,420
unique,20,2,20,NaN,16,NaN,NaN,18,2
top,Vajra The Royal Park,Apartment,Vajra Builders And DevelopersBUILDER0,NaN,"Kollur, Hyderabad",NaN,NaN,"4,999",Under Construction
freq,21,399,21,NaN,63,NaN,NaN,42,399
mean,NaN,NaN,NaN,3.805000,NaN,2134.950000,2.850000,NaN,NaN
std,NaN,NaN,NaN,3.234803,NaN,1649.930284,0.727158,NaN,NaN
min,NaN,NaN,NaN,1.020000,NaN,1039.000000,2.000000,NaN,NaN
25%,NaN,NaN,NaN,1.210000,NaN,1408.750000,2.000000,NaN,NaN
50%,NaN,NaN,NaN,1.970000,NaN,1787.500000,3.000000,NaN,NaN
75%,NaN,NaN,NaN,5.397500,NaN,2287.250000,3.000000,NaN,NaN
max,NaN,NaN,NaN,9.980000,NaN,9000.000000,5.000000,NaN,NaN

In [24]:
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
data["Building_type"].unique()

array(['Apartment', 'Villa'], dtype=object)

In [28]:
data["Building_type"].value_counts()

Apartment    399
Villa         21
Name: Building_type, dtype: int64

In [61]:
data['Location'].unique()

array(['Bowrampet, Hyderabad', 'Kukatpally, Hyderabad',
       'Jeedimetla, Hyderabad', 'Attapur, Hyderabad', 'Kollur, Hyderabad',
       'Saroor Nagar, Hyderabad', 'Dammaiguda, Hyderabad',
       'Kompally, Hyderabad', 'Sanath Nagar, Hyderabad',
       'Mallapur, Hyderabad', 'Ameenpur, Hyderabad',
       'Harshaguda, Hyderabad', 'Bachupally, Hyderabad',
       'Saidabad, Hyderabad', 'Gundlapochampally, Hyderabad',
       'Nizampet, Hyderabad'], dtype=object)

In [58]:
data['Location'].value_counts()

Kollur, Hyderabad               63
Kukatpally, Hyderabad           42
Kompally, Hyderabad             42
Bowrampet, Hyderabad            21
Jeedimetla, Hyderabad           21
Attapur, Hyderabad              21
Saroor Nagar, Hyderabad         21
Dammaiguda, Hyderabad           21
Sanath Nagar, Hyderabad         21
Mallapur, Hyderabad             21
Ameenpur, Hyderabad             21
Harshaguda, Hyderabad           21
Bachupally, Hyderabad           21
Saidabad, Hyderabad             21
Gundlapochampally, Hyderabad    21
Nizampet, Hyderabad             21
Name: Location, dtype: int64